

:root {
    --gradient-lime-100: linear-gradient(225deg, rgb(255 221 153 / 40%), rgb(196 245 219)), rgb(196 245 219);
    /* background: linear-gradient(225deg, var(--color--blue-100), var(--color--white)); */
    --gradient-yellow-100: linear-gradient(225deg, rgb(250 184 255 / 40%), rgb(255 243 194)), rgb(255 243 194);
    --gradient-pink-100: linear-gradient(225deg, rgb(255 189 193 / 40%), rgb(253 229 255)), rgb(253 229 255);
    --gradient-purple-100: linear-gradient(225deg, rgb(217 173 255 / 40%), rgb(225 225 250)), rgb(225 225 250);
    --gradient-blue-100: linear-gradient(225deg, rgb(184 184 255 / 40%), rgb(191 241 245)), rgb(191 241 245);
    --gradient-teal-100: linear-gradient(225deg, rgb(103 226 235 / 40%), rgb(177 240 231)), rgb(177 240 231);
    --gradient-green-100: linear-gradient(225deg, rgb(81 224 205 / 40%), rgb(205 250 206)), rgb(205 250 206);
    --gradient-lime-50: linear-gradient(225deg, rgb(255 221 153 / 20%), rgb(196 245 219 / 50%)), rgb(196 245 219 / 50%);
    --gradient-yellow-50: linear-gradient(225deg, rgb(250 184 255 / 20%), rgb(255 243 194 / 50%)), rgb(255 243 194 / 50%);
    --gradient-pink-50: linear-gradient(225deg, rgb(255 189 193 / 20%), rgb(253 229 255 / 50%)), rgb(253 229 255 / 50%);
    --gradient-purple-50: linear-gradient(225deg, rgb(217 173 255 / 20%), rgb(225 225 250 / 50%)), rgb(225 225 250 / 50%);
    --gradient-blue-50: linear-gradient(225deg, rgb(184 184 255 / 20%), rgb(191 241 245 / 50%)), rgb(191 241 245 / 50%);
    --gradient-teal-50: linear-gradient(225deg, rgb(103 226 235 / 20%), rgb(177 240 231 / 50%)), rgb(177 240 231 / 50%);
    --gradient-green-50: linear-gradient(225deg, rgb(81 224 205 / 40%), rgb(205 250 206 / 50%)), rgb(205 250 206 / 50%);
    --transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --shadow: 0 24px 24px 0 rgb(0 31 31 / 0%), 0 16px 16px 0 rgb(0 31 31 / 3%), 0 8px 8px 0 rgb(0 31 31 / 6%), 0 4px 4px 0 rgb(0 31 31 / 6%), 0 2px 2px 0 rgb(0 31 31 / 6%), 0 0 1px 0 rgb(0 31 31 / 32%);
    --shadow-hover: 0 24px 24px 0 rgb(0 31 31 / 8%), 0 16px 16px 0 rgb(0 31 31 / 8%), 0 8px 8px 0 rgb(0 31 31 / 8%), 0 4px 4px 0 rgb(0 31 31 / 8%), 0 2px 2px 0 rgb(0 31 31 / 8%), 0 0 1px 0 rgb(0 31 31 / 32%);
    --shadow-small: 0 24px 24px 0 rgb(0 31 31 / 0%), 0 16px 16px 0 rgb(0 31 31 / 0%), 0 8px 8px 0 rgb(0 31 31 / 6%), 0 4px 4px 0 rgb(0 31 31 / 6%), 0 2px 2px 0 rgb(0 31 31 / 6%), 0 0 1px 0 rgb(0 31 31 / 24%);
    --shadow-xsmall: 0 24px 24px 0 rgb(0 31 31 / 0%), 0 16px 16px 0 rgb(0 31 31 / 0%), 0 8px 8px 0 rgb(0 31 31 / 4%), 0 4px 4px 0 rgb(0 31 31 / 4%), 0 2px 2px 0 rgb(0 31 31 / 4%), 0 0 1px 0 rgb(0 31 31 / 16%);
    --shadow-none: 0 24px 24px 0 rgb(0 31 31 / 0%), 0 16px 16px 0 rgb(0 31 31 / 0%), 0 8px 8px 0 rgb(0 31 31 / 0%), 0 4px 4px 0 rgb(0 31 31 / 0%), 0 2px 2px 0 rgb(0 31 31 / 0%), 0 0 1px 0 rgb(0 31 31 / 0%);
    --shadow-image: drop-shadow(0 0px 1px rgb(0 31 31 / 24%)) drop-shadow(0 2px 2px rgb(0 31 31 / 2%)) drop-shadow(0 4px 4px rgb(0 31 31 / 2%));
    --shadow-image-small: drop-shadow(0 0px 1px rgb(0 31 31 / 2%)) drop-shadow(0 2px 2px rgb(0 31 31 / 1%)) drop-shadow(0 4px 4px rgb(0 31 31 / 1%));
    --shadow-image-none: drop-shadow(0 0px 1px rgb(0 31 31 / 0%)) drop-shadow(0 2px 2px rgb(0 31 31 / 0%)) drop-shadow(0 4px 4px rgb(0 31 31 / 0%));
}
:root {
    --color--white: white;
    --color--black: #001f1f;
    --color--black-50: #001f1fbd;
    --color--grey-400: #889494;
    --color--pink-400: #e063c7;
    --color--teal-400: #33b88c;
    --color--purple-400: #7070ff;
    --color--violet-50: #f8f0ff;
    --color--pink-800: #b8337a;
    --color--purple-50: #f0f0ff;
    --color--purple-800: #4533b8;
    --radius--medium: .8rem;
    --color--forest-400: teal;
    --color--grey-100: rgba(0,31,31,.08);
    --color--transparent: rgba(0,31,31,0);
    --color--green-200: #a9eba9;
    --color--turquoise-200: #51e0cd;
    --color--forest-800: #003d3d;
    --color--grey-800: #455252;
    --color--grey-600: #6c7a7a;
    --color--grey-200: #c4cccc;
    --color--grey-50: rgba(0,61,61,.04);
    --color--lime-800: #7b8f00;
    --color--lime-400: #b3cc18;
    --color--lime-200: #dbeb7a;
    --color--lime-100: #eff5ce;
    --color--green-800: #366625;
    --color--green-400: #6bb85f;
    --color--green-100: #cdface;
    --color--teal-200: #8bf0ba;
    --color--teal-100: #c4f5db;
    --color--turquoise-800: #066;
    --color--turquoise-400: #00a3a3;
    --color--turquoise-100: #b1f0e7;
    --color--blue-800: #05537a;
    --color--blue-400: #0794b8;
    --color--blue-200: #67e2eb;
    --color--blue-100: #bff1f5;
    --color--blue-10:#bff1f549;
    --color--purple-200: #b8b8ff;
    --color--purple-100: #e1e1fa;
    --color--violet-800: #652ea3;
    --color--violet-400: #ad67eb;
    --color--violet-200: #d9adff;
    --color--violet-100: #ecdcfa;
    --color--pink-200: #fab8ff;
    --color--pink-100: #fde5ff;
    --color--red-800: #b8252f;
    --color--red-400: #f55861;
    --color--red-200: #ffbdc1;
    --color--red-100: #ffe0e2;
    --color--yellow-800: #cc8418;
    --color--yellow-400: #ffc247;
    --color--yellow-200: #fd9;
    --color--yellow-100: #fff3c2;
    --color--blue-50: #e4f7f9;
    --color--yellow-50: #fffae6;
    --color--lime-50: #f8fbe7;
    --color--green-50: #eafce9;
    --color--teal-50: #e6f9ee;
    --color--turquoise-50: #def6f3;
    --color--pink-50: #fcf2fe;
    --color--red-50: #fceff1;
    --color--teal-800: #046645;
    --radius--large: 1.2rem;
    --font--latticon: Latticon,sans-serif;
    --modal-purple: #3a3a4c;
    --font--matter: Matter,sans-serif;
    --radius--small: .4rem;
    --margin--medium: 1.2rem;
    --margin--small: .8rem;
    --margin--xsmall: .4rem;
    --margin--large: 1.6rem;
    --margin--xlarge: 3.2rem;
    --radius--xsmall: .2rem;
    --radius--xlarge: 1.6rem;
}





.container{
    margin: 0;
    padding:0;
}

.zoom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    /* background-color: #14171afd; semi-transparent dark color */
    /* background: linear-gradient(10deg,#14171aa1, #14171afd,#14171afd );  */
     /* background-color:#14171ad7;  */
     background: linear-gradient(200deg,var(--color--blue-800), var(--color--blue-800), var(--color--blue-800));
}

    

.zoomHeader{
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    margin: 20px 10px;
    /* background: linear-gradient( var(--color--black), #14171ac5,#14171ae7); */
    /* background: linear-gradient(200deg,var(--color--blue-800), var(--color--black), var(--color--blue-800));  */
    justify-content: center;
    background-color:#00000080;
    text-align: center;
    height: 10vh;
    border-radius: 10px;
    cursor: pointer;
}

.header{
    justify-content:baseline;
    margin: 5px 0px;
}

#chatImg{
    z-index: 0;
    position: absolute;
    left: 80px;
    /* background-color: black; */
    /* height: 20px ; */
    /* width: 20px; */
    /* border-radius: 100%; */
}
.dotRound{
    height: 20px;
    width: 100px;
    background-color: white;
}
.tableRender{
    width: 85%;
    border-radius: 10px;
    color: rgb(190, 185, 185);
    font-size: 15px;
    /* background-color: rgba(190, 182, 182, 0.445); */
    margin: 10px -6px;
    z-index: 10;
    justify-content: center;
    padding-top: 4px;
}
.tableRender ul {
    list-style: none;
      /* background-color: rgba(31, 29, 29, 0.733) ; */
     display: flex;
     overflow-wrap: break-word;
     flex-direction: row;
       border-radius: 10px;
       width: 100%;
       cursor: pointer;
       margin: 3px  -8px -4px;
}
.tableRender ul li{
 text-align: start;
 margin: 5px;
}
#messUp{
top: 10px;
width: 300px;
margin: -8px 5px;


overflow: wrap;
}
.dotRound2{
    height: 20px;
    width: 100px;
    background-color: white;
}
.online{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
#dot2{
    position: absolute;
    /* color:green; */
    z-index: 10;
    font-size: 18px;
    margin: -12px 18px;
    background-color: black;
    border-radius: 100%;
    
    
    
}
#dot{
    position: absolute;
    color: green;
    z-index: 10;
    font-size: 20px;
    margin: 25px -30px;
    background-color: black;
    border-radius: 100%;
    
    
    
}

.search{
    margin: 5PX 10PX;
    border-radius: 10px;
}
#chatSearch{
 margin: 10px 10px;
 border-radius: 10px;
 background-color: lightblue ;
outline: none;
width: 300px;
text-align: center;
color:#fff;
font-size: 13px;
height: 34px;
}
.rowHeader{
    display: grid;
    grid-template-columns: 20% 35% 35% 10%;

    /* position: absolute; */
}
.contentZoom{
    display: grid;
    grid-template-columns: 20% 80%;
     height: 60vh; 
    justify-content: center;
    margin: 10px 100px;
    

}
.contentZoom{
    margin:0px 10px;

}
.contentAside{
    width: 93%;
    height: 80vh;
     /* background-color: #010808e3; *
      background: linear-gradient(200deg,var(--color--blue-800), var(--color--black), var(--color--blue-800)); /
    /* background: linear-gradient(10deg, #010808,var(--color--white));  */
    justify-content: start;
    text-align: start;
    background-color:#00000080;
    z-index: 0;
    border-radius: 10px;
}

.contentCenter{
    width: 100%;
    height: 85vh;
    /* background-color: #010a0ae3; */
    /* background-color: #01080880; */
    background: linear-gradient(200deg,var(--color--blue-800), var(--color--blue-800), var(--color--blue-800)); 
    justify-content: center;
    text-align: center;
    
    border-radius: 10px;
}
.add{
    margin: 10px 5px;
    color:rgb(223, 212, 212);
}
.settings{
    font-size: 20px;
    
}
.messageContent{
    margin: 10px 0px ;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color:#00000080;
    width: 90%;
    padding: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
    border-radius: 10px;
    font-size: 20px;
    margin: 60px 50px ;
}
.typing{
    margin:13px -60px 0px;
     width: 40px;
    cursor: pointer;
     border-radius: 10px;
    background-color: grey;
    position: absolute;
    text-align:center ;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.online{
color: green;
}
.offline{
color:grey;
}

.messageHeader{
    background-color:#00000080;
    width: 70%;
    position: fixed;
    height: auto;
    padding:4px;
    /* justify-content: center; */
    /* text-align: center; */
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 50px;
}
.messageFooter{
    background-color:#00000080;
    width: 70%;
    height: 10vh;
    position: absolute;

    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    
    margin: -50px 50px;
}
/* #inputRound{
    width: 900px;
    background-colvor: black;
    height: 5vh;
    border-radius: 10%;
} */
.inputText{
    width:500px;
    margin: 7px 3px 0px 3px;
    outline: #0794b8;
    text-align: start;
    padding-left: 30px;
    font-size: 15px;
    font-weight: bolder;
    overflow-wrap: break-word;
    overflow-y: scroll;
    height: 7vh;
    padding: 2px;
    
}
.emoji{
    justify-content: center;
    text-align: center;
    margin: 150px 120px;
    cursor: pointer;
    overflow-wrap: break-word;
    width: 500px;
    height: 35vh;
    border-radius: 10px;
    padding: auto;
    background: linear-gradient( var(--color--blue-10),var(--color--green-100));
}
.emoji ul  {
    /* margin: 10px; */
    list-style: none;
    display: grid;
    grid-template-columns: repeat(15, 30px); /* Adjusted grid-template-columns */
    /* height: 30vh; */
    width: inherit;
    overflow-wrap: break-word;
    /* background-color: var(--color--blue-100); */
  }
.emoji ul li{
    margin:3px;
}

.emoji li:hover{
     border: 1px solid lightblue; 
    width: 30px;
    /* font-size: 10px; */
}
.msgbox{
    width: 700px;
    height: auto;
    overflow: break-word;

}

.sendMess {
    display: flex;
    width: auto;
    overflow: wrap;
    text-align: start;
    justify-content: flex-start;
    align-items: center; /* Vertically center-align items */
    height: auto;
    border-radius: 10px;
    overflow-wrap: break-word;
    margin: 0px 0px 0px 10px;
    direction: ltr;
}

.sendMess li {
    list-style: none;
     margin: 0px 0px;
    font-size: 15px;
    color: rgb(77, 71, 71);
    margin: 3px;
}

.receivedMess {
    display: flex;
    flex-direction: row; /* Ensure messages stack horizontally */
     margin: 5px 40px 0px 0px; 
    text-align: end;
    justify-content: end;
    width: auto;
    border-radius: 10px;

    overflow-wrap: break-word;
    height: auto;
    /* background-color: rgba(128, 128, 128, 0.555);   */
    font-size: 20px;
}

.receivedMess li {
    list-style: none;
    
    font-size: 15px;
}



.receivedImg{
    border-radius: 100%;
    width:40px;
    height: 40px;
    justify-content: start;
    margin: 0px 0px 0px -70px;
}

.receivedTime{
    display: flex;
    flex-direction: row; /* Ensure messages stack horizontally */
    /* margin: 10px 300px 10px 0px; */
    text-align: end;
    justify-content: end;
    width: auto;
    direction: rlt;
    border-radius: 10px;
    margin: -2px 40px ;
    overflow-wrap: break-word;
    color:-var(--color--grey-600);
    
    /* background-color: rgba(128, 128, 128, 0.555);   */
    font-size: 13px;
}

.sendTIme{
     display: none; 
    color: rgb(207, 208, 216);
}

#time{
    color:rgb(186, 197, 185);
}

.inComingCall{
    margin:40px 0px;
}

.answer{
font-size: 20px;
    width:100px;
    height:40px;
    margin: 10px; 
    background-color: -var(--color--green-800);   
}
.tableRender .nonShow {
    display: none; /* Hide the element by default */
}
.green{
    color:green;
}
.grey{
    color:grey;
}
/* Styling for the show span */
.tableRender .showDecline {
    display:inline-flex; /* Show the element */
    color: red;
    box-shadow: none;
    margin: -30px 0px;
    /* position: absolute;  */
    top:-100px
}
.incomingData{
    display: flex;
    flex-direction: column;
    font: 15px;
}
.reject{
    font-size: 20px;
    width:100px;
    height:40px;
}
.Picture{

}
.sendImg{
    border-radius:100%;
    
right: -90px; 
}





.sendMessage{
    /* background-color: rgba(128, 128, 128, 0.671); */
    background-color:var(--color--pink-800);
    width: auto;
    color: var(--color--white);
    /* direction: ltr; */
    height: auto;
    color: gray;
     margin:0px 70px 0px 0px; 
    overflow-wrap: break-word;
    padding: 3px 6px 3px 6px;
margin: 0px 30px;
    border-radius: 10px 10px 0% 10px;
    /* position: absolute; */
}
.receivedMessage{
    background-color:var(--color--blue-800);
    width: auto;
    color: var(--color--white);
    direction: ltr;
    height: auto;
    margin:0px 35px 0px 0px;
    overflow-wrap: break-word;
    padding: 3px 6px 3px 6px;
    border-radius: 10px 0% 10px 10px;
}
.smileHeader,.smileHeader2{
    display: none;
}

.smilePhone{
    display: none;
}
.desktop{
    display: block;
}
.phoneFooter{
    display: none;
}
.leaveCall{
    width:100px;
    margin:0px 3px;
    top: 10px;
    position: absolute;
    /* height: 20px; */
}

.list1{
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    /* margin-top: -20px; */
    
    height: 60vh;
}
.chatBox{
 margin: -400px 0px 0px -90px;
 height: 53vh;
 width: 300px;
 box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.1);
 overflow-y: scroll;
}

  
  /* Additional CSS styles for the container */
  /* .contentHeader.list1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
.dot{
    width:3px;
    height:2px;
    border-radius: 100%;
    background-color: BLACK;
}
.ListName{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.349);
    margin: 10px 2px;
}

.ListName li{
    outline-style: none;
    list-style: none;
    height: 30px;
    text-align: center;
    margin: 0px 5px;
    
}
.list{
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    height: 60vh;
    /* position: absolute;
    justify-content: left;
    left: 1035px;
     width: 21%; */
}
.rowDown{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%;
}
.col{
    text-align: center;
    margin-top: 50px;
}
.col_header{
    justify-content: center;
    text-align: center;
    height: 10vh;
    margin: 30px 4px;
     /* position: absolute; */
}

#zoom_title{
    background-color: aquamarine;
    color:"white";
    width: 98%;
    height: 3.5vh;
    margin: 1px 2px;
}



@media   (max-width:1000px){
    

    .zoom{
        
        background: linear-gradient(200deg,var(--color--blue-800), var(--color--black), var(--color--blue-800)); 
        height: 100vh;
        width:120vw  ;
        color:#fff;
         margin: 0px; 
       
        
    
}
.zoomHeader {
    position: fixed; /* or absolute, depending on your layout */
    bottom: 0;
    left: 0; /* Adjust left position if necessary */
    width: 98%; /* Ensures it spans the full width */
    margin: 5px 4px;
    background: linear-gradient( 10deg, var(--color--black), var(--color--black-50),var(--color--black));
    justify-content: center;
    text-align: center;
    height: 12vh;
    border-radius: 10px;
    cursor: pointer;
}

.header{
    justify-content:baseline;
    margin: 5px 0px;
}

#chatImg{
    z-index: 0;
    position: absolute;
    left: 0px;
    width: 40px;
    height: 40px;

    
}

#you{
 margin: 25px 0px 0px -48px;
 position: absolute;
 font-size: 12px;
 
}

#dot{
    position: absolute; 
    margin: 30px -30px;
}
.settings{
    display: none;
}
.search{
 display: none;
}

.add{
    right: 30px;
    position: absolute;
    margin: 10px 0px;
}

.contentZoom{
    display: grid;
    grid-template-columns: 0% 100%;
     height: 60vh; 
    justify-content: center;
    margin: 10px 100px;
    

}
.messageContent{
    margin: 50px 5px  0px -90px ;
    height: 75vh;
    position: absolute;
    display: block;
    
    background-color: #0000009a ;
    width: 80%;
  
  overflow-y: scroll;
  overflow-x: hidden;
    border-radius: 10px;
    font-size: 20px;
    
}


.messageHeader{
    background-color:#0000009d;
    width: 97%;
    position: fixed;
    height: auto;
    padding:4px;
    justify-content: center; 
    
    border-radius: 10px;
    font-size: 20px;
    margin: 4px 0px 0px -93px ;
}
.messageFooter{
  display: none;
}

.contentAside{
    display: none;
}
.desktop{
    display: none;
}
.smilePhone{
    display: grid;
   
    grid-template-columns: 98% 98% 98% ;


}
.smile{
    position: fixed;
}
.smileHeader{
    display: grid;
    grid-template-columns:  30% 20% 30% 20%;
    margin: 10px 0px;
    color: grey;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.smileHeader2{
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
    margin: 10px 0px;
    cursor: pointer;
    position: fixed;
    color: grey;
    list-style: none;
    width: 100%;
    z-index: 100;
}

.phoneFooter{
    display: block;
}

.emoji{
    margin: 210px 10px;


}
}



@media   (max-width:950px){
    
    .zoom{
        
        background: linear-gradient(200deg,var(--color--blue-800), var(--color--black), var(--color--blue-800)); 
        height: 100vh;
        width:120vw  ;
        color:#fff;
         margin: 0px; 
       
        
    
}
.zoomHeader {
    position: fixed; /* or absolute, depending on your layout */
    bottom: 0;
    left: 0; /* Adjust left position if necessary */
    width: 98%; /* Ensures it spans the full width */
    margin: 5px 4px;
    background: linear-gradient( 10deg, var(--color--black), var(--color--black-50),var(--color--black));
    justify-content: center;
    text-align: center;
    height: 10vh;
    border-radius: 10px;
    cursor: pointer;
}

.header{
    justify-content:baseline;
    margin: 5px 0px;
}

#chatImg{
    z-index: 0;
    position: absolute;
    left: 0px;
    width: 45px;
    height: 45px;

    
}

#you{
 margin: 27px 0px 0px 50px;
 position: absolute;
 font-size: 15px;
 
}

#dot{
    position: absolute; 
    margin: 30px 100px;
}
.settings{
    display: none;
}
.search{
 display: none;
}

.add{
    right: 30px;
    position: absolute;
    margin: 10px 0px;
}

.contentZoom{
    display: grid;
    grid-template-columns: 0% 100%;
     height: 60vh; 
    justify-content: center;
    margin: 20px 100px;
    

}
.phoneFooter{
    display: block;
}


.sendMessPhone {
    display: flex;
    min-width: 10px;
    max-width: 70px;
    overflow: wrap;
    text-align: start;
    overflow-wrap: break-word;
    justify-content: flex-start;
    align-items: center; /* Vertically center-align items */
    height: auto;
    border-radius: 10px;
    overflow-wrap: break-word;
    margin: 0px 0px 0px 10px;
    direction: ltr;
}

.sendMessPhone li {
    list-style: none;
    
    font-size: 15px;
    margin: 5px;
}

.receivedMessPhone {
    display: flex;
    flex-direction: row; /* Ensure messages stack horizontally */
     margin: 0px 0px -26px 290px; 
    text-align: end;
    justify-content: end;
    min-width: 10px;
    max-width: 70px;

    left:300px;
    /* position: absolute; */
    border-radius: 10px;
    
    overflow-wrap: break-word;
    height: auto;
    /* background-color: rgba(128, 128, 128, 0.555);   */
    font-size: 20px;
}

.receivedMessPhone li {
    list-style: none;
    margin: 7px;
    font-size: 15px;
}


.sendMessagePhone{
    /* background-color: rgba(128, 128, 128, 0.671); */
    background-color:var(--color--pink-800);
   min-width: 100px;
   width: 300px;
    color: var(--color--white);
    /* direction: ltr; */
    overflow: wrap;
    text-align: start;
    overflow-wrap: break-word;
    justify-content: flex-start;
    height: auto;
     margin:0px 100px 0px 0px; 
    overflow-wrap: break-word;
    padding: 3px 6px 3px 6px;
margin: 0px 30px;
    border-radius: 0% 10px 0% 10px;
    
}
.receivedMessagePhone{
    background-color:var(--color--blue-800);
    min-width: 100px;
    width: 300px;
    color: var(--color--white);
    direction: ltr;
    overflow: wrap;
    height: auto;
    margin:10px 15px 10px 0px;
    overflow-wrap: break-word;
    padding: 3px 3px 3px 6px;
    border-radius: 10px 0% 10px 0%;
    
}
.sendImgPhone{
    border-radius:100%;
    left: 90px;
    margin: -14px -80px;
    justify-content: start;
     position: absolute;  
}
.receivedImgPhone{
    border-radius:100%;

}
#dot2{
    z-index: 0;
}
.phoneCallDis{
    display: flex;
    flex-direction: column;
    position: absolute; 
    text-align: center;
    justify-content: ;
    border-radius: 10px;
    margin:  20px 14px ;
    width: 90%;
    position: absolute;
    min-height: 40vh;
    height: auto;
    z-index: 10;
    background: linear-gradient(40deg,var(--color--blue-800), var(--color--black), var(--color--blue-800)); 
}
.myVideo{
    top: 30;
    left: 0;
    width:100%;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
    padding: 1px 0px 10px;
    height:auto;
    z-index: 999;
    overflow: hidden;
    /* border: 1px solid grey */
    ;
}
#myVideoImg{
 width: 90%;
 min-height:57vh;
 object-fit: fill;
 border-radius: 5px;
}
 .leaveCallVideo{
    
 }
.phoneCallDisVideo{
    width: 90%;
    position: absolute; 
    min-height: 50vh;
    border-radius: 20PX;
    margin: 0px 20px 0px;
    height: auto;
    top: 20px;
    z-index: 0;
    background: linear-gradient(40deg,var(--color--blue-800), var(--color--black), var(--color--blue-800));
    
}
#leavePhone{
    margin:200px 20px;
    justify-content: flex-end;
    left:190px;
}
.showM{
    display:block;
    font-size: 15px;
    color: #615c5c;
    width: 700px;
    height: 2px;
    overflow: break-word;

}
}




@media   (max-width:800px){
    
    .zoom{
        
        background: linear-gradient(200deg,var(--color--blue-800), var(--color--blue-400), var(--color--blue-800)); 
        height: 100vh;
        width:120vw  ;
        color:#fff;
         margin: 0px; 
       
        
    
}
.zoomHeader {
    position: fixed; /* or absolute, depending on your layout */
    bottom: 0;
    left: 0; /* Adjust left position if necessary */
    width: 98%; /* Ensures it spans the full width */
    margin: 5px 4px;
    background: linear-gradient( 10deg, var(--color--black), var(--color--black-50),var(--color--black));
    justify-content: center;
    text-align: center;
    min-height: 10vh;
      height: 12vh;
    border-radius: 10px;
    cursor: pointer;
}

.header{
    justify-content:baseline;
    margin: 5px 0px;
}

#chatImg{
    z-index: 0;
    position: absolute;
    left: 0px;
    width: 50px;
    height: 50px;

    
}

#you{
 margin: 35px 0px 0px -10px;
 position: absolute;
 font-size: 15px;
 
}

#dot{
    position: absolute; 
    margin: 40px 5px;
}
.settings{
    display: none;
}
.search{
 display: none;
}

.add{
    right: 30px;
    position: absolute;
    margin: 10px 0px;
}

.contentZoom{
    display: grid;
    grid-template-columns: 0% 100%;
     height: 70vh; 
    justify-content: center;
    margin: 20px 100px;
    

}

.people{
    /* margin: 20px 10px 10px; */
    width: 100%;
}

.renderPeople{
    margin-top: 50px;
    width: 100%;
}

.renderPhone{
 margin: 10px 5px ;
 width: 100%;
}

.h6{
    height: 10px;
   margin: 10px 0px 20px ;

}
.h6:hover{
    width: 100px;
    background-color: BLACK;
    height: 3vh;
    border-radius: 20px;
    position: absolute;

}
.desktop{
    display: none;
}

.messageHeader{
    height: 9vh;
    top: 4px;
}
.messageContent{
    margin-top: 70px ;
    height: 76vh;
   background-color: none;
}

#textAreaPhone{
    width: 200px;
    min-height: 30px;
     height: 50px; 
    margin: 10px 3px;
    /* position: absolute; */
    
    
}
.phoneFooter{
    max-width: 600px;
     width: 100%;
    
    /* position: absolute; */
    margin: 0px -10px;
}
.phoneFooter_menu{
    display: flex;
    /* grid-template-columns: 50% 15% 15% 15%; */
    margin: 0px 0px;
    width: 98%;
}

.col_phone{


}
.textPhone{
    width: 100%;
}

.emojiPhone{
width: 100%;
background-color: rgb(202, 193, 193);
margin: 20px 70px;
border-radius: 0px 10px 10px 0px;
height: 50px;
margin: 10px 80px;
}

.emoji{
    width: 400px;
    margin: 500px -10px;
}

.send{
    margin: 0px -40px;
}
.sendPhone{
    width: 100px;
    left:100px

}
.emoji ul  {
    /* margin: 10px; */
    list-style: none;
    display: grid;
    grid-template-columns: repeat(12, 30px); /* Adjusted grid-template-columns */
    /* height: 30vh; */
    width: inherit;
    overflow-wrap: break-word;
    /* background-color: var(--color--blue-100); */
  }
.emoji ul li{
    margin:3px;
}

.emoji li:hover{
     border: 1px solid lightblue; 
    width: 30px;
    /* font-size: 10px; */
}

}

